
@{
    ViewBag.Title = "Course Status";
}

<h2>Course Status</h2>

<div class="content-section">
    <div class="container">
        <h2 class="section-heading">
            <spring:message code="contact.heading.lable" />
            <br />
        </h2>
        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge"></span>
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object"
                             src="" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">OPPS! Course is Full</h4>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>