@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    5991 Spring Run Dr<br />
    Columbus, OH 43229<br />
    <abbr title="Phone">P:</abbr>
    641.451.7105
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:mosaddek.ahsan@gmail.com">mosaddek.ahsan@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:mosaddek.ahsan@gmail.com">mosaddek.ahsan@gmail.com</a>
</address>