@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Course Registration System</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Welcome to Course Registration System</h2>
        <p>
	<p class="lead">This is a Code First Application so hit F5 from the run will create the database and load the seed data so you can assign course, see details of Student and Delete the course</p>
        <p class="lead">To See the courses click on Course from Top Menu Bar.</p>
        <p class="lead">To Assign course Click on Assign Course.</p>
        <p class="lead">To Delete click on Student and then click on details.</p>
        <p class="lead">Course Registration System has built within very short time Period.</p>
        <p class="lead">I have implemented the structure by separating the Web, Model and Data .</p>
        <p class="lead">For Data I have implemented Repository and Unit Of Work.</p>
        <p class="lead">For Web I have implemented MVVM pattern.</p>
        </p>
    </div>
</div>